$light-color:#ffffff;
$dark-color:#000;
$danger-color:#ff6052;
$warning-color:#ffc107;
$success-color:#15cc35;
$green-color:#00b96e;
$black-light:#4c4f59;
$black-light-1:#323232;
$grey-color:#8f929d;
$grey-color-1:#8e8e93;
$grey-color-2:#f9f9f9;
$violet-color:#9200ff;
$pumpkin-orange:#ff7100;
$fade-yellow:#d0db00;
$aqua:#00dcff;
$cool-grey:#a3a3a8;
$dark-blue:#33495f;